
<ion-content>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>¿Perdiste a tu mascota o encontraste una perdida?</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Aqui podras dejar registro de tu mascota perdida o si encontraste alguna, ingresa la dirección.
    </ion-card-content>
  </ion-card>
 
  <ion-label></ion-label>
  <ion-searchbar></ion-searchbar>

  <ion-img src="assets/img/map.png"></ion-img>
  <ion-button (click)="formulario()"> 
    Perdido
    <img src="../assets/img/huella.svg" style="width : 100% ; height : 100%">
  </ion-button>
  <ion-button (click)="formulario()"> 
    <img src="../assets/img/huella.svg" style="width : 100% ; height : 100%">
    Encontre
  </ion-button>










</ion-content>
