.header-color {
    --background: #EA9085!important;
}
h1{
    color: black;
    
    font-family:Georgia, 'Times New Roman', Times, serif
}
ion-img {
    max-width: 30%;
    padding: 1rem;
    margin: 0 auto;
    float: left;
}