ion-img {
    max-width: 45%;
    padding: 1rem;
    margin: 0 auto;
    float: center;
}
ion-item{

    padding: 1rem;
    margin: 0 auto;
    float: center;
}
.iniciarid{
    padding: 1rem;
    margin: 0 auto;
    float: right;
}