
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>FORMULARIO</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre y Apellido</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombre Mascota</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Comentarios</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
      <ion-button (click)="home()">
        <img src="../assets/img/huella.svg" style="width : 100% ; height : 100%">
        Enviar
      </ion-button>
    </ion-card-content>
      
  </ion-card>
  
</ion-content>
