
<ion-content>
  <ion-row></ion-row>
  <ion-row></ion-row> 
  <div class="ion-text-center">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Estas pensando en adoptar?</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      Aqui podras ver todas las mascotas disponibles para adoptar.
      </ion-card-content>
    </ion-card>
  </div>

<ion-slides [options]="option" class="ion-margin-top">

  <ion-slide>
    <ion-card>
      <img src="assets/img/cat1.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets/img/cat2.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets/img/dog1.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets/img/dog2.jpg">
    </ion-card>
  </ion-slide>

  <ion-slide>
    <ion-card>
      <img src="assets/img/dog3.jpg">
    </ion-card>
  </ion-slide>


</ion-slides>

<div id="content" class="ion-text-center">
  
  <ion-button color="tertiary" expand="block" class="btn btn1" (click)="adoptar()"><img src="../assets/img/iniciar.png" style="width : 40% ; height : 100%">Te encontre</ion-button>
</div>

</ion-content>
